<div class="container">
    <div class="row">
        <div class="col col-md-8 offset-2">
            <div class="card my-3">
                <form [formGroup]="formGroup" (ngSubmit)="saveDemande()">
                <div class="card-header">
                    <h4>Editer une demande</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label for="agent">Agent</label>
                            <select name="agent" id="agent" class="form-select" formControlName="agentId">
                                <option disabled >Selectionner un agent</option>
                                <option *ngFor="let agent of agents" [ngValue]="agent.id">
                                        {{agent?.matricule + "-"+ agent?.nom + "-"+ agent?.prenom}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="dateDebut"> Date debut</label>
                            <input id="dateDebut" type="date" class="form-control" formControlName="dateDebut"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="dateFin"> Date fin</label>
                            <input id="dateFin" type="date" class="form-control" formControlName="dateFin"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="motif">Motif</label>
                            <textarea formControlName="motif" name="motif" id="motif" class="form-control" placeholder="Saisir le motif de la demande"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger mx-1" (click)="dismiss()" > Annuler</button>
                    <button class="btn btn-success mx-1" type="submit" [disabled]="formGroup.invalid"> Enregistrer</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

