/* You can add global styles to this file, and also import other style files */


.main{
    height: 100vh;
    background-color: white;
}

.login-form-content{
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.login-form-img{
    width: 150px;
    height: 150px;

}

/*  table pour demandes et agents*/
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
