<table class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Agents</th>
            <th>Motif</th>
            <th>Date de debut</th>
            <th>Date de fin</th>
            <th>Etat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>2</th>
            <td>jkjj</td>
            <td>jkj</td>
            <td>lkl</td>
            <td>mmlml</td>
            <td>mlmlml</td>
            <td>popoop</td>
              
            
        </tr>
    </tbody>
</table>
