<table class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Agents</th>
            <th>Motif</th>
            <th>Date de debut</th>
            <th>Date de fin</th>
            <th>Etat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       <!-- <tr *ngFor="let d of demandes; index as i">
            
            <td>{{i+1}}</td>
            <td>{{d.agent?.matricule +' - '+ d.agent?.nom + '-' d.agent?.prenom}}</td>
            <td>{{d.motif}}</td>
            <td>{{d.dateDebut}}</td>
            <td>{{d.dateFin}}</td>
            <td>{{d.etat}}</td>
            <td>
                <button class="btn btn-outline-warning">Voir</button>
                <button class="btn btn-outline-danger">Modifier</button>
            </td>
            
              
            
        </tr>-->
    </tbody>
</table>
